.home-section {
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 70%;
  }

.paris-link {
  cursor: pointer;
}
  
  .home-section h2 {
    font-size: 32px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .home-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
  
  /* Image Grid Styling */
  .image-grid {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .destination_image {
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5%;
  }
  
  .destination_image img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
    transition: transform 0.5s;
  }

  .destination_image img:hover {
    transform: scale(1.5);
    filter: brightness(95%);
  }

  .destination_image h3, .destination_image h4 {
    position: absolute;
    color: white;
    width: 100%;
    left: 0;
    padding: 10px;
    margin: 0;
  }
  
  .destination_image h3 {
    bottom: 40px;
    font-family: Dancing Script;
    font-weight: 900;
    font-size: 40px;
  }
  
  .destination_image h4 {
    bottom: 5px;
    font-weight: normal;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .destination_image {
      width: 100%;
    }

    .home-section {
      width: 90%;
    }

    .home-section p {
      width: 100%;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 15px;
    }

    .destination_image h3 {
        font-size: 22px;
    }

    .destination_image h4 {
        font-size: 14px;
    }
  }
  
@media (max-width: 1300px) {
  .home-section p {
    width: 100%;
  }
}
  