.success-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    max-width: 700px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin: 0;
    margin-top: -20%;
}

.success-container h6 {
    font-size: 2em;
    margin-bottom: 10px;
    color: black
}

.success-container p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: black;
}

.success-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.success-container a:hover {
    background-color: goldenrod;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .success-container {
        margin-top: -50%;
    }
    .success-container h6 {
        font-size: 1.5em;
    }

    .success-container p {
        font-size: 0.9em;
    }
}